/* You could change the font */
$baseFontFamily: 'Lato','Sans Serif';
@import url(http://fonts.googleapis.com/css?family=Lato);

/*$btnPrimaryBackground: green;*/
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}